# Template for online-check systemd service
# 1. Place under /etc/systemd/system/online-check.service
# 2. Fill in working dir, user and group
# 3. Run sudo systemctl enable online-check
# 4. Run sudo systemctl start online-check
# 5. Check the log by running sudo journalctl -f -u online-check
[Service]
ExecStart=/usr/bin/supervisor -q -e json index.js
WorkingDirectory=<working dir>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=online-check
User=<user>
Group=<group>

[Install]
WantedBy=multi-user.target